name: deploy-go-app

on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  docker:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Debug GitHub OIDC Token Claims
      id: debug-oidc
      run: |
        echo "Fetching OIDC token..."
        TOKEN=$(curl -s -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
          "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=https://github.com/Ehud/case-trading" | jq -r .value)
          
        echo "JWT Token (partial): ${TOKEN:0:50}..."  # Hanya tampil partial biar aman
          
        echo "Decoding claims..."
        # Decode JWT header & payload (tanpa verifikasi signature, hanya lihat isi)
        echo $TOKEN | jq -R 'split(".") | .[1] | @base64d | fromjson' || echo "Error decoding"
  
  # deploy:
  #   name: Deploy to VPS
  #   needs: docker
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: SSH Deploy
  #       uses: appleboy/ssh-action@v1.0.3
  #       with:
  #         host: ${{ secrets.SERVER_HOST }}
  #         username: ${{ secrets.SERVER_USER }}
  #         key: ${{ secrets.SERVER_SSH_KEY }}
  #         script: |
  #           cd ./case-trading
  #           docker compose pull
  #           docker compose up -d --force-recreate