name: deploy-go-app

on:
  push:
    branches: [ main ]

permissions:
  id-token: write
  contents: read

jobs:
  docker:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    # - name: Login to DockerHub
    #   uses: docker/login-action@v2
    #   with:
    #     username: ${{ secrets.DOCKERHUB_USERNAME }}
    #     password: ${{ secrets.DOCKERHUB_TOKEN }}

    # - name: Build and Push Docker Image
    #   uses: docker/build-push-action@v5
    #   with:
    #     context: .
    #     push: true
    #     tags: ${{ secrets.DOCKERHUB_USERNAME }}/case-trading:latest
    #     file: ./Dockerfile

    - name: Install Infisical CLI
      run: |
        curl -1sLf 'https://artifacts-cli.infisical.com/setup.deb.sh' | sudo -E bash
        sudo apt-get update && sudo apt-get install -y infisical
    - name: Login & Pull secrets from Infisical
      env:
        INFISICAL_TOKEN: ${{ secrets.INFISICAL_SERVICE_TOKEN }}   
      run: |
        infisical login --token "$INFISICAL_TOKEN"
        export DOCKER_USERNAME=$(infisical secrets get DOCKERHUB_USERNAME --env=prod --path=/docker)
        export DOCKER_TOKEN=$(infisical secrets get DOCKERHUB_TOKEN --env=prod --path=/docker)

    - name: Login to Docker Hub from Infisical
      uses: docker/login-action@v3
      with:
        username: ${{ env.DOCKER_USERNAME }}
        password: ${{ env.DOCKER_TOKEN }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v6   
      with:
        context: .
        file: ./Dockerfile
        push: true
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/case-trading:latest
  
  deploy:
    name: Deploy to VPS
    needs: docker
    runs-on: ubuntu-latest

    steps:
      - name: SSH Deploy
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            cd ./case-trading
            docker compose pull
            docker compose up -d --force-recreate